{% extends 'base_admin.html' %}


{% block title %}Admin{% endblock %}

{% block head %}

{{ super() }}

<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename='css/features.css') }}" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>


{% endblock %}


{% block main %}
<h1 class="mt-4"></h1>
<div class="container-fluid container py-5" id="featured-3" style="max-width: 1150px;">

    <h2 class="pb-2 primary">Menú principal</h2>

    <div class="row g-5 py-5">

        <div class="row">
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card" onclick="location.href='{{url_for('registrar_trabajo')}}';" class="btn" role="button">
                    <div class="card-body shadow">
                        <i class="fas fa-plus-circle text-primary icono-dashboard"></i>
                        <h5 class="card-title">Agregar trabajo</h5>
                        <p class="card-text">Agregar un trabajo académico al SiTA</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card" onclick="location.href='{{url_for('ver_trabajos')}}';" class="btn" role="button">
                    <div class="card-body shadow">
                        <i class="far fa-folder text-primary icono-dashboard"></i>
                        <h5 class="card-title">Ver trabajos Académicos</h5>
                        <p class="card-text">Ver los trabajos Académicos publicados</p>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card" onclick="location.href='{{url_for('ver_carreras')}}';" class="btn" role="button">
                    <div class="card-body shadow">
                        <i class="fas fa-graduation-cap text-primary icono-dashboard"></i>
                        <h5 class="card-title">Ver carreras</h5>
                        <p class="card-text">Ver las carreras de la UASD publicadas</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card" onclick="location.href='{{url_for('ver_escuelas')}}';" class="btn" role="button">
                    <div class="card-body shadow">
                        <i class="fas fa-building text-primary icono-dashboard"></i>
                        <h5 class="card-title">Ver escuelas</h5>
                        <p class="card-text">Ver las escuelas de la UASD publicadas</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card" onclick="location.href='{{url_for('ver_usuarios')}}';" class="btn" role="button">
                    <div class="card-body shadow">
                        <i class="fas fa-users text-primary icono-dashboard"></i>
                        <h5 class="card-title">Ver usuarios</h5>
                        <p class="card-text">Ver los usuarios con acceso al SiTA</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card" onclick="location.href='{{url_for('perfil')}}';" class="btn" role="button">
                    <div class="card-body shadow">
                        <i class="fas fa-user-circle text-primary icono-dashboard"></i>
                        <h5 class="card-title">Perfil de {{ nombre }}</h5>
                        <p class="card-text">Cambiar tu nombre de usuario o contraseña</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}


{% block user %}{{ nombre }} {{ apellidos }}{% endblock %}
