{% extends 'base_admin.html' %}


{% block title %}Registrar trabajo{% endblock %}

{% block head %}
{{ super() }}


{% endblock %}


{% block main %}
<h1 class="mt-4"></h1>
<div class="container-fluid">
    <div class="card mb-4">

    {% if trabajo['id_facultad'] == 1 %}
      <img class="card-img-top" src="{{ url_for('static', filename='img/IN_bg.jpg') }}" alt="Card image cap">
    {% elif trabajo['id_facultad'] == 2 %}
      <img class="card-img-top" src="{{ url_for('static', filename='img/AG_bg.jpg') }}" alt="Card image cap">
    {% elif trabajo['id_facultad'] == 3 %}
      <img class="card-img-top" src="{{ url_for('static', filename='img/SA_bg.jpg') }}" alt="Card image cap">
    {% elif trabajo['id_facultad'] == 4 %}
      <img class="card-img-top" src="{{ url_for('static', filename='img/HU_bg.jpg') }}" alt="Card image cap">
    {% elif trabajo['id_facultad'] == 5 %}
      <img class="card-img-top" src="{{ url_for('static', filename='img/ES_bg.jpg') }}" alt="Card image cap">
    {% elif trabajo['id_facultad'] == 6 %}
      <img class="card-img-top" src="{{ url_for('static', filename='img/CI_bg.jpg') }}" alt="Card image cap">
    {% elif trabajo['id_facultad'] == 7 %}
      <img class="card-img-top" src="{{ url_for('static', filename='img/AR_bg.jpg') }}" alt="Card image cap">
    {% elif trabajo['id_facultad'] == 8 %}
      <img class="card-img-top" src="{{ url_for('static', filename='img/CE_bg.jpg') }}" alt="Card image cap">
    {% elif trabajo['id_facultad'] == 9 %}
      <img class="card-img-top" src="{{ url_for('static', filename='img/JU_bg.jpg') }}" alt="Card image cap">
    {% else %}
      <img class="card-img-top" src="{{ url_for('static', filename='img/sita-bg.png') }}" alt="Card image cap">
    {% endif %}

    </div>
    <h1 class="mt-4"></h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Actualizar trabajo</li>
    </ol>

    <div class="contenido-pagina">

        <form action="{{ url_for('actualizar_trabajo') }}" method="post" name="edit_trabajo" id="edit_trabajo" enctype="multipart/form-data">

        <div>
            <h3 style='color:green;'>{{ msg }}</h3>
        </div>

                <h2 style="margin-bottom: 2.5rem;">Trabajo académico</h2>

                <div class="form-group tab">
                    <label for="id_trabajo" class="font-weight-bold">id_trabajo</label>
                    <input type="text" class="form-control" id="id_trabajo" name="id_trabajo" value="{{ trabajo['id_trabajo'] }}">
                </div>

                <div class="form-group">
                    <label for="titulo" class="font-weight-bold">Título</label>
                    <input type="text" class="form-control requerido" id="titulo" name="titulo" value="{{ trabajo['titulo_trabajo'] }}" required>
                </div>

                <div class="form-group">
                    <label for="extracto" class="font-weight-bold mt-4">Resumen (opcional)</label>
                    <p>Escriba el resumen de su trabajo académico, facilitará la busqueda del mismo.</p>

                    {% if trabajo['extracto'] == '' %}
                        <textarea id="extracto" name="extracto" rows="2" cols="79" class="form-control"></textarea>
                    {% elif trabajo['extracto'] is none %}
                         <textarea id="extracto" name="extracto" rows="2" cols="79" class="form-control"></textarea>
                    {% else %}
                        <textarea id="extracto" name="extracto" rows="2" cols="79" class="form-control">{{ trabajo['extracto'] }}</textarea>
                    {%endif %}
                </div>

                <div class="form-group">
                    <label for="tipo_trabajo_academico" class="font-weight-bold mt-4">Tipo de trabajo académico</label>
                    <select class="form-control requerido" id="tipo_trabajo_academico" name="tipo_trabajo_academico" required>
                        <option selected value="{{ trabajo['id_tipo_trabajo'] }}">{{ trabajo['descripcion_tipo'] }}</option>
                        {% if 'Tesis' in trabajo['descripcion_tipo'] %}
                          <option value="2">Monografico</option>
                        {% else %}
                          <option value="1">Tesis</option>
                        {% endif %}
                    </select>
                </div>



                <div class="form-group">
                    <label for="nivel_trabajo_academico" class="font-weight-bold mt-4">Nivel de trabajo académico</label>
                    <select class="form-control requerido" id="nivel_trabajo_academico" name="nivel_trabajo_academico" required>
                        <option selected value="{{ trabajo['id_nivel_trabajo'] }}">{{ trabajo['descripcion_nivel'] }}</option>
                        {% if 'Grado' in trabajo['descripcion_nivel'] %}
                          <option value="2">Postgrado</option>
                          <option value="3">Técnico</option>
                        {% else %}
                          <option value="2">Grado</option>
                          <option value="3">Técnico</option>
                        {% endif %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="fecha_publicacion" class="font-weight-bold mt-2">Fecha de publicación</label>
                    <input type="date" name="fecha_publicacion" id="fecha_publicacion" value="{{ trabajo['fecha_publicacion'] }}" class="form-control requerido" required>
                </div>


                <div class="form-group">
                    <label for="recinto_universitario" class="font-weight-bold mt-4">Recinto universitario</label>
                    <select class="form-control requerido" id="recinto_universitario" name="recinto_universitario" required>
                        <option selected value="{{ trabajo['id_recinto'] }}">{{ trabajo['nombre_recinto'] }}</option>
                        {% for recinto in recintos %}
                            <option value="{{ recinto['id_recinto'] }}"> {{ recinto['nombre_recinto'] }} </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="facultad" class="font-weight-bold mt-4">Facultad</label>
                    <select class="form-control requerido" id="facultad" name="facultad" required>
                            <option selected value="{{ trabajo['id_facultad'] }}">{{ trabajo['nombre_facultad'] }}</option>
                        {% for facultad in facultades %}
                            <option value="{{ facultad['id_facultad'] }}">{{ facultad['nombre_facultad'] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="escuela" class="font-weight-bold mt-4">Escuela</label>
                    <select class="form-control requerido" id="escuela" name="escuela" required>
                        <option selected value="{{ trabajo['id_escuela'] }}">{{ trabajo['nombre_escuela'] }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="carrera" class="font-weight-bold mt-4">Carrera</label>
                    <select class="form-control requerido" id="carrera" name="carrera" required>
                        <option selected value="{{ trabajo['id_carrera'] }}">{{ trabajo['nombre_carrera'] }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="archivo" class="font-weight-bold mt-4">Archivo adjunto *(Opcional)</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="archivo" name="archivo" accept=".doc,.docx,.pdf">
                        {% if trabajo['archivo_adjunto'] == '' %}
                         <label class="custom-file-label" for="archivo">Subir el archivo de su trabajo académico...</label>
                        {% elif trabajo['archivo_adjunto'] is none %}
                         <label class="custom-file-label" for="archivo">Subir el archivo de su trabajo académico...</label>
                        {% else %}
                        <label class="custom-file-label" for="archivo">{{ trabajo['archivo_adjunto'] }}</label>
                        {% endif %}
                    </div>
                </div>

        <div id="resultbox"></div>


            <h2 style="margin-bottom: 2.5rem;margin-top: 40px;">Estudiantes</h2>

            <div id="InputsWrapper">
                {% for estudiante in estudiantes if estudiante['id_trabajo'] == trabajo['id_trabajo'] %}
                <div class="form-row" style="margin-bottom: 10px;">
                    <div class="col col-1 tab">
                        <input type="number" name="id_estudiantes[]" id="id_est_{{ loop.index }}" class="form-control id_list" value="{{ estudiante['id_estudiante'] }}">
                    </div>
                    <div class="col">
                        <input type="text" name="nombres_estudiantes[]" id="nombre_est_{{ loop.index }}" class="form-control nombre_list" value="{{ estudiante['nombres'] }}">
                    </div>
                    <div class="col">
                        <input type="text" name="apellidos_estudiantes[]" id="apellido_est_{{ loop.index }}" class="form-control apellido_list" value="{{ estudiante['apellidos'] }}">
                    </div>
                    <div class="col col-3">
                        <input type="text" name="matricula_estudiantes[]" id="matricula_est_{{ loop.index }}" class="form-control matricula_list" value="{{ estudiante['matricula'] }}">
                    </div>
                    <button type="button" class="btn btn-danger removeclass" style="border-radius: 50%;" disabled><i class="fas fa-times"></i></button>
                </div>
                {% else %}
                <div class="alert alert-info" role="alert" style="margin-bottom: 40px;">
                    No se han registrado estudiantes para este trabajo
                </div>
                {% endfor %}
            </div>



            <h2 style="margin-bottom: 2.5rem;">Asesores</h2>


            <div id="InputsWrapper2">
                {% for asesor in asesores if asesor['id_trabajo'] == trabajo['id_trabajo'] %}
                <div class="form-row" style="margin-bottom: 10px;">
                    <div class="col col-1 tab">
                        <input type="number" name="id_asesores[]" id="id_as_{{ loop.index }}" class="form-control id_list" value="{{ asesor['id_asesor'] }}">
                    </div>
                    <div class="col col-3">
                        <input type="text" name="nombres_asesores[]" id="nombre_as_{{ loop.index }}" class="form-control nombre_as_list" value="{{ asesor['nombre'] }}">
                    </div>
                    <div class="col">
                        <input type="text" name="apellidos_asesores[]" id="apellido_as_{{ loop.index }}1" class="form-control apellido_as_list" value="{{ asesor['apellidos'] }}">
                    </div>
                    <button type="button" class="btn btn-danger removeclass" style="border-radius: 50%;" disabled><i class="fas fa-times"></i></button>
                </div>
                {% else %}
                <div class="alert alert-info" role="alert" style="margin-bottom: 40px;">
                    No se han registrado asesores para este trabajo
                </div>
                {% endfor %}
            </div>



            <div style="overflow:auto;">
                <div style="float:left; margin-bottom: 40px;">
                    <input class="btn btn-primary" type="submit" value="Actualizar" id="postBtn">
                </div>
            </div>

        </form>
    </div>


</div>

{% endblock %}

{% block js %}
{{ super() }}

<script type="application/javascript">
    $('input[type="file"]').change(function(e){
        var fileName = e.target.files[0].name;
        $('.custom-file-label').html(fileName);
    });
</script>


<script>
facultad_select = document.getElementById('facultad');
escuela_select = document.getElementById('escuela');
carrera_select = document.getElementById('carrera');

facultad_select.onchange = function(){
 facultad = facultad_select.value;
 fetch('get_escuelas/' + facultad).then(function(response){
  response.json().then(function(data) {
   optionHTML = '';
   for (escuela of data.facultad_escuela) {
    optionHTML += '<option value="' + escuela.id_escuela +'">' + escuela.nombre_escuela + '</option>'
   }
   escuela_select.innerHTML = optionHTML;
  });
 });
}
escuela_select.onchange = function(){
 escuela = escuela_select.value;
 fetch('get_carreras/' + escuela).then(function(response){
  response.json().then(function(data) {
   optionHTML = '';
   for (carrera of data.listacarreras) {
    optionHTML += '<option value="' + carrera.id_carrera +'">' + carrera.nombre_carrera + '</option>'
   }
   carrera_select.innerHTML = optionHTML;
  });
 });
}
</script>

<script>
$(document).ready(function() {

var MaxInputs       = 6; //maximum input boxes allowed
var InputsWrapper   = $("#InputsWrapper"); //Input boxes wrapper ID
var InputsWrapper2   = $("#InputsWrapper2"); //Input boxes wrapper ID
var AddButton       = $("#AddMoreFileBox"); //Add button ID
var AddButton2       = $("#AddMoreFileBox2"); //Add button ID

var x = InputsWrapper.length; //initlal text box count
var x2 = InputsWrapper2.length; //initlal text box count
var FieldCount=1; //to keep track of text box added
var FieldCount2=1; //to keep track of text box added

$(AddButton).click(function (e)  //on add input button click
{
        if(x <= MaxInputs) //max input box allowed
        {
            FieldCount++; //text box added increment
            //add input box
            $(InputsWrapper).append('<div class="form-row" style="margin-bottom: 10px;"> <div class="col"> <input type="text" name="nombres_estudiantes[]"  class="form-control name_list" placeholder="Nombre '+ FieldCount +'" id="nombre_est_'+ FieldCount +'"> </div> <div class="col"> <input type="text" name="apellidos_estudiantes[]" class="form-control" placeholder="Apellidos '+ FieldCount +'" id="apellidos_est_'+ FieldCount +'"> </div> <div class="col col-3"> <input type="text" name="matricula_estudiantes[]" class="form-control" placeholder="Matrícula '+ FieldCount +'" id="matricula_est_'+ FieldCount +'"> </div> <a href="#" class="btn btn-danger removeclass" style="border-radius: 50%;"><i class="fas fa-times"></i></a> </div>');
            x++; //text box increment

        }
return false;
});

$(AddButton2).click(function (e)  //on add input button click
{
        if(x2 <= MaxInputs) //max input box allowed
        {
            FieldCount2++; //text box added increment
            //add input box
            $(InputsWrapper2).append('<div class="form-row" style="margin-bottom: 10px;"> <div class="col col-3"> <input type="text" name="nombres_asesores[]" id="nombre_as_'+ FieldCount2 +'" class="form-control nombre_as_list" placeholder="Nombre asesor '+ FieldCount2 +'"> </div> <div class="col"> <input type="text" name="apellidos_asesores[]" id="apellido_as_'+ FieldCount2 +'" class="form-control apellido_as_list" placeholder="Apellidos asesor '+ FieldCount2 +'"> </div> <button type="button" class="btn btn-danger removeclass2" style="border-radius: 50%;"><i class="fas fa-times"></i></button> </div>');
            x2++; //text box increment

        }
return false;
});

$("body").on("click",".removeclass", function(e){ //user click on remove text
        if( x > 0 ) {
                $(this).parent('div').remove(); //remove text box
                x--; //decrement textbox
        }
return false;
})

$("body").on("click",".removeclass2", function(e){ //user click on remove text
        if( x2 > 0 ) {
                $(this).parent('div').remove(); //remove text box
                x2--; //decrement textbox
        }
return false;
})


$('#submit').click(function(){
           $.ajax({
                url:"/editar_trabajo",
                method:"POST",
                data:$('#edit_trabajo').serialize(),
                success:function(data)
                {  alert(data)
                     $('#resultbox').html(data);
                     $('#edit_trabajo')[0].reset();
                }
           });
      });
});
</script>


{% endblock %}

{% block user %}{{ nombre }} {{ apellidos }}{% endblock %}