{% extends 'base.html' %}


{% block title %}Home{% endblock %}

{% block container %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="clearfix">
   <div class="container" data-aos="fade-up">
      <div class="hero-img" data-aos="zoom-out" data-aos-delay="200">
         <!-- <img src="static/img/hero-img.svg" alt="" class="img-fluid"> -->
      </div>
      <div class="hero-info" data-aos="fade-up" data-aos-delay="100">
         <h2>Lorem ipsum dolor sit amet consectetur adipiscing elitqua.</h2>
         <!-- Search Box -->
         <!-- form -->
         <form action="/buscar" class="search-box" method=post>
            <div class="input-form">
               <input type="text" name=search placeholder="Trabajo académico a buscar..." value="{{ request.form.search}}">
            </div>
            <div class="select-form">
               <div class="select-itms">
                  <select name="select" id="select1">
                     <option value="">Todos</option>
                     <option value="">Grado</option>
                     <option value="">Maestría</option>
                  </select>
               </div>
            </div>
            <div class="search-form actions">
               <input type=submit class="text-decoration-none" value="Search">Buscar</input>
            </div>
         </form>
          {% for message in get_flashed_messages() %}
          <div class=flash>
              {{ message }}
          </div>
          {% endfor %}
         <div class="logo" data-aos="fade-up" data-aos-delay="300">
            <img src="{{ url_for('static', filename='img/logo_uasd_blanco.svg') }}" alt="" class="img-fluid" style="margin-top: 8%;">
         </div>
      </div>
   </div>
</section>
<!-- End Hero Section -->
<section id="about">
   <div class="container" data-aos="fade-up">
      <header class="section-header">
         <h3>Publicaciones recientes</h3>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </header>
      <div class="col-sm-9" style="margin: auto;">

                {% for trabajo in trabajos %}
                <div class="card mb-4">
                    <div class="card-body elBorde" style="padding-left: 25px;">
                        <h5 style="display: inline">
                            <span class="badge bg-primary text-uppercase">{{ trabajo['descripcion_tipo'] }} de {{ trabajo['descripcion_nivel'] }}</span>
                        </h5>

                        <h7 class="text-capitalize text-primary fw-normal" style="display: inline">
                            &nbsp;&nbsp;<i class="fas fa-building"></i>
                            {{ trabajo['nombre_recinto'] }}
                        </h7>
                        <h7 class="text-capitalize text-primary fw-normal" style="display: inline">
                           &nbsp;&nbsp; <i class="fas fa-calendar-alt"></i>
                            {{ trabajo['fecha_publicacion'] }}
                        </h7>

                        <a href="{{ url_for('publicacion', id_trabajo = trabajo['id_trabajo']) }}" class="text-decoration-none text-uppercase">
                        <h3 class="card-title text-uppercase" style="margin-top: 9px;font-weight: 600; font-size: 1.46rem;">
                            {{ trabajo['titulo_trabajo'] }}
                        </h3>
                        </a>
                        <i class="fas fa-user-friends"></i>&nbsp;
                         {% for estudiante in estudiantes if estudiante['id_trabajo'] == trabajo['id_trabajo'] %}
                        <h7 class="text-capitalize text-secondary" style="display: inline;font-weight: 600;">
                            {{ estudiante['nombres'] }}{{ ", " if not loop.last else "" }}
                        </h7>
                         {% else %}
                             no true items
                         {% endfor %}
                    </div>
                </div>
                {% endfor %}
               <div style="text-align: center">
                  <a class="btn btn-primary btn-block" style="text-align:center;" href="#" role="button">Ver más publicaciones</a>
               </div>
          </div>
   </div>


</section>
<!-- End About Section -->

{% endblock %}


{% block js %}
{{ super() }}

<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.nice-select.min.js') }}"></script>


<script>
    $(document).ready(function() {
        $('select').niceSelect();
    });
</script>


{% endblock %}