{% extends 'base_admin.html' %}


{% block title %}Perfil{% endblock %}

{% block main %}
<div class="container-fluid">
    <ol class="breadcrumb my-5">
        <li class="breadcrumb-item active">Datos del usuario</li>
    </ol>
    <div class="text-center">
        <i class="fas fa-user-circle text-dark mb-3" style="font-size: 9rem;"></i>
    </div>
    {% for usuario in usuarios %}
        <p class="lead text-center"><span class="font-weight-bold">Nombre:</span> {{ usuario['nombre'] }}</p>
        <p class="lead text-center"><span class="font-weight-bold">Apellidos:</span> {{ usuario['apellidos'] }}</p>
        <p class="lead text-center"><span class="font-weight-bold">Nombre de usuario:</span> {{ usuario['username'] }}</p>
        <p class="lead text-center"><span class="font-weight-bold">Fecha de registro:</span> {{ usuario['fecha_registro'].strftime('%d %B, %Y')  }}</p>
        <p class="lead text-center"><span class="font-weight-bold">Recinto:</span> {{ usuario['nombre_recinto'] }}</p>
    {% endfor %}
</div>

{% endblock %}

{% block user %}{{ nombre }} {{ apellidos }}{% endblock %}