{% extends 'base_admin.html' %}


{% block title %}Carreras{% endblock %}

{% block main %}
<h1 class="mt-4"></h1>
<div class="container-fluid">
  <div class="card mb-4">
    <img class="card-img-top" src="static/img/sita-bg.png" alt="Logo SiTA">
  </div>
                        <h1 class="mt-4"></h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Carreras</li>
                        </ol>

</div>

{% endblock %}

{% block user %}{{ nombre }} {{ apellidos }}{% endblock %}