{% extends 'base_admin.html' %}


{% block title %}Trabajos académicos{% endblock %}

{% block main %}
<h1 class="mt-4"></h1>
<div class="container-fluid">
  <div class="card mb-4">
    <img class="card-img-top" src="static/img/sita-bg.png" alt="Logo SiTA">
  </div>
  <h1 class="mt-4"></h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{{ url_for('admin') }}">Inicio</a></li>
    <li class="breadcrumb-item active">Trabajos académicos</li>
  </ol>


  <div class="card mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover" id="dataTable" width="100%">
          <thead>
          <tr>
            <th>Titulo</th>
            <th>Sustentantes</th>
            <th>Fecha</th>
            <th>Tipo</th>
            <th>Recinto</th>
            <th>Facultad</th>
            <th>Escuela</th>
            <th>Carrera</th>
          </tr>
          </thead>
          <tbody>
          {% for trabajo in trabajos %}
          <tr>
            <td>
              <a href="{{ url_for('ver_trabajo', id_trabajo = trabajo['id_trabajo']) }}" class="text-decoration-none text-uppercase">
                {{ trabajo['titulo_trabajo'] }}
              </a>
            </td>
            <td>
              <ol>
                {% for estudiante in estudiantes if estudiante['id_trabajo'] == trabajo['id_trabajo'] %}
                <li>
                  {{ estudiante['nombres'] }}
                </li>
                {% else %}
                no true items
                {% endfor %}
              </ol>
            </td>
            <td> {{ trabajo['fecha_publicacion'].strftime('%B, %Y') }}</td>
            <td> {{ trabajo['descripcion_tipo'] }}</td>
            <td> {{ trabajo['nombre_recinto'] }}</td>
            <td> {{ trabajo['nombre_facultad'] }}</td>
            <td> {{ trabajo['nombre_escuela'] }}</td>
            <td> {{ trabajo['nombre_carrera'] }}</td>
          </tr>

          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block user %}{{ nombre }} {{ apellidos }}{% endblock %}