{% extends 'base_admin.html' %}


{% block title %}Usuarios{% endblock %}

{% block main %}
<h1 class="mt-4"></h1>
<div class="container-fluid">
  <div class="card mb-4">
    <img class="card-img-top" src="static/img/sita-bg.png" alt="Logo SiTA">
  </div>
  <h1 class="mt-4"></h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{{url_for('admin')}}">Inicio</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
  </ol>


  <div class="card mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
          <tr>
              <th>id usuario</th>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Nombre de usuario</th>
              <th>Fecha de registro</th>
              <th>Recinto</th>
          </tr>
          </thead>
          <tbody>
          {% for usuario in usuarios %}
            <tr>
                <td> {{ usuario['id_usuario'] }} </td>
                <td> {{ usuario['nombre'] }} </td>
                <td> {{ usuario['apellidos'] }} </td>
                <td> {{ usuario['username'] }} </td>
                <td> {{ usuario['fecha_registro'] }} </td>
                <td> {{ usuario['nombre_recinto'] }} </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block user %}{{ nombre }} {{ apellidos }}{% endblock %}