{% extends 'base_admin.html' %}


{% block title %}Trabajo académico{% endblock %}

{% block main %}
<div class="container-fluid">

  <h1 class="mt-4"></h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{{url_for('admin')}}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{{url_for('ver_trabajos')}}">Trabajos académicos</a></li>
    <li class="breadcrumb-item active">{{ trabajo['id_trabajo'] }}</li>
  </ol>

  <div class="card mb-4">
    <img class="card-img-top" src="{{ url_for('static', filename='img/CI_bg.jpg') }}" alt="Card image cap">
    <div class="card-body">
      <h5 style="display: inline"><span class="badge badge-primary text-uppercase">{{ trabajo['descripcion_tipo'] }} de {{ trabajo['descripcion_nivel'] }}</span></h5>
      <h6 class="text-capitalize text-primary fw-normal" style="display: inline">&nbsp;<i class="fas fa-building"></i> {{ trabajo['nombre_recinto'] }}</h6>


      <h3 class="card-title text-uppercase" style="margin-top: 9px;">{{ trabajo['titulo_trabajo'] }}</h3>
      <hr>

      <div class="row">

        <div class="col-8">
          <h6 class="card-text text-secondary">Sustentantes:</h6>
        </div>
        <div class="col-4">

        </div>
      </div>


    </div>
  </div>

</div>

{% endblock %}

{% block user %}{{ nombre }} {{ apellidos }}{% endblock %}